@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.f-indicators-section {
    width: 100%;
    height: 100%;

    .f-indicators-slider {
        .f-prev-arrow,
        .f-next-arrow {
            color: $blue-primary;
            font-size: 20px;
            position: absolute;
            cursor: pointer;
        }

        .f-prev-arrow {
            // left: 20px;
            left: 15%;
            top: 15px;
        }

        .f-next-arrow {
            // right: 20px;
            right: 15%;
            top: 15px;
        }

        .f-indicators-body {
            width: 100%;
            display: flex;
            flex-direction: column;

            .f-indicators-country {
                width: 100%;
                padding: 15px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .f-country-image-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    max-width: 16px;
                    max-height: 16px;
                    margin-right: 5px;
                    border-radius: 50%;

                    .f-country-image {
                        height: 100%;
                        width: 100%;
                    }
                }

                .f-country-title {
                    font-size: 16px;
                    font-family: $gibson-semibold;
                    color: $neutral;
                }
            }

            .f-indicators-shop-productivity {
                min-height: 100px;
                display: flex;

                .f-indicator {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    background-color: #f8f9fa;
                    font-family: $gibson-semibold;

                    &.green {
                        color: #91cf00;
                    }

                    &.red {
                        color: #f0280a;
                    }

                    &:first-child {
                        margin-right: 5px;
                    }

                    .f-indicator-percentage {
                        font-size: 24px;

                        i {
                            font-size: 20px;
                            margin-right: 5px;
                        }
                    }

                    .f-indicator-area {
                        margin-top: 15px;
                        font-size: 13px;
                        text-align: center;
                        padding: 0 5px;
                        /* Limit to two lines */
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
