$blue: #006fce;
$sky-blue: #67C5FF;
$second-sky-blue: #469FFF;
$yellow: #ffec45;
$dark-neutral: #404B5A;
$light-neutral: #E1E7EC;
$neutral: #929FB1;
$purple: #9945FF;
$blue-primary: #006FCE;
$pink-primary: #FF45AB;


// $small: 600px;
// $semi-small: 695px;
// $medium: 761px;
$large: 960px;
$x-large: 1023px;
$xx-large: 1200px;

$gibson-bold: "Gibson-Bold";
$gibson-light: "Gibson-Light";
$gibson-regular: "Gibson-Regular";
$gibson-semibold: "Gibson-SemiBold";
